version: '3.8'

services:
  backend:
    build: ./backend
    container_name: coin-wave-backend
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    environment:
      - GIN_MODE=release
      - DB_DSN=root:rootpassword@tcp(mysql:3306)/coinwave?charset=utf8mb4&parseTime=True&loc=Local
      - REDIS_ADDR=redis:6379
      - MILVUS_ADDRESS=milvus:19530
      - VOLC_AUTH_TOKEN=97443eb3-4d60-4738-bf9d-e7bf364566d2
    depends_on:
      - mysql
      - redis
      - milvus
    networks:
      - coin-wave-network

  frontend:
    build: ./frontend
    container_name: coin-wave-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - coin-wave-network

  mysql:
    image: mysql:8.0
    container_name: coin-wave-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: coinwave
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - coin-wave-network

  redis:
    image: redis:alpine
    container_name: coin-wave-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - coin-wave-network

  etcd:
    container_name: milvus-etcd
    image: quay.io/coreos/etcd:v3.5.0
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
    command: etcd -advertise-client-urls=http://127.0.0.1:2379 -listen-client-urls=http://0.0.0.0:2379 --data-dir /etcd
    volumes:
      - etcd_data:/etcd
    networks:
      - coin-wave-network

  minio:
    container_name: milvus-minio
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: minio server /minio_data
    volumes:
      - minio_data:/minio_data
    networks:
      - coin-wave-network

  milvus:
    container_name: milvus-standalone
    image: milvusdb/milvus:v2.4.0
    command: ["milvus", "run", "standalone"]
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
    volumes:
      - milvus_data:/var/lib/milvus
    ports:
      - "19530:19530"
    depends_on:
      - etcd
      - minio
    networks:
      - coin-wave-network

networks:
  coin-wave-network:
    driver: bridge

volumes:
  mysql_data:
  redis_data:
  etcd_data:
  minio_data:
  milvus_data:
